<h1>Welcome to Creek Hill Estates!</h1>
<p>Login Here!!!</p>



<section>
    <form name="myform" novalidate ng-submit="onSubmit(user)">
        <div>
            <input type="text" name="username" placeholder="Enter your username" autofocus ng-model="user.username">
            <p ng-show="myform.username.$invalid && myform.username.$touched">Must be a valid username</p>
        </div>

        <div>
            <input type="password" name="password" placeholder="Enter your password"  ng-model="user.password">
            <p ng-show="myform.password.$invalid && myform.password.$touched">Password is required</p>
        </div>
        <button type="submit" class="btn" ng-disabled="myform.$invalid">Login</button>
    </form>
</section>