<div class="container">

    <div class="col-md-12 text-center">
        <ul class="nav nav-pills centeredPill">
            <li><a href="#neighbors">Neighbors</a></li>
            <li><a href="#events">Calendar</a></li>
            <li><a href="#sale">For Sale</a></li>
            <li><a href="#about">Vendors & Contact</a></li>
        </ul>
    </div>

    <div class="col-md-12 text-center">
        <h1>Vendor & Contact</h1>
        <p>people to reach out to, yo!</p>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <img src="../images/CHEvendor.jpg" class="big-image">
    </div>
</div>