<div class="col-md-offset-2">
    <ul class="nav nav-pills">
        <li><a href="#neighbors">Neighbors</a></li>
        <li><a href="#events">Calendar</a></li>
        <li><a href="#sale">For Sale</a></li>
        <li><a href="#about">About & Contact</a></li>
    </ul>
</div>

<div class="col-md-offset-4">
    <h1>Creek Hill Estates Roll Call</h1>
    <h2>These are our neighbors!!</h2>
</div>

<div class="col-md-4" ng-controller="NeighborsController">
    <form ng-model="neighbor" novalidate>

        <p ng-show="neighbor.owner">Owner(s): {{neighbor.owner}}</p>
        <p ng-hide="neighbor.owner">Enter owner(s) name(s)!</p>
        <p>Name: <input type="text" ng-model="neighbor.owner"/></p>


        <p ng-show="neighbor.kids">Kid(s): {{neighbor.kids}}</p>
        <p ng-hide="neighbor.kids">Do you have kids? </p>
        <p>Name(s): <input type="text" ng-model="neighbor.kids"/></p>

        <p ng-show="neighbor.animals">Animal(s): {{neighbor.animals}}</p>
        <p ng-hide="neighbor.animals">Do you have animals? </p>
        <p>Name(s): <input type="text" ng-model="neighbor.animals"/></p>

        <p ng-show="neighbor.house">House Number: {{neighbor.house}}</p>
        <p ng-hide="neighbor.house">What is your house number? </p>
        <p>Number: <input type="text" ng-model="neighbor.house"/></p>

        <input type="submit" ng-click="add(neighbor)" value="Save"/>
    </form>
</div>

<div class="col-md-4 col-md-offset-2">
    <img src="../images/CHEMap.jpg">
</div>

<div class="col-md-offset-2 col-md-8">
    <h2 class="col-md-offset-3">NEIGHBORS!</h2>
    <ul class="container col-md-4" ng-repeat="neighbor in neighbors">
        <p>Owner(s): {{neighbor.owner}}</p>
        <p ng-show="neighbor.kids">Kids (s): {{neighbor.kids}}</p>
        <p ng-hide="neighbor.kids">No kids</p>
        <p ng-show="neighbor.animals">Animal(s): {{neighbor.animals}}</p>
        <p ng-hide="neighbor.animals">No Animals</p>
        <p>House #: {{neighbor.house}}</p>
    </ul>
</div>