<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><a href="#">×</a></button>
                <h1 class="text-center">Registration</h1>
            </div>
            <div class="modal-body">
                <form class="form col-md-12 center-block" name="myform" novalidate ng-submit="onSubmit(user)">
                <div class="form-group">
                    <input class="form-control input-lg" type="text" name="username" placeholder="Create your Username" autofocus ng-model="user.username">
                    <p ng-show="myform.username.$invalid && myform.username.$touched">Must be a valid Username</p>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="text" name="firstName" placeholder="Enter your first name" autofocus ng-model="user.firstName">
                    <p ng-show="myform.firstName.$invalid && myform.firstName.$touched">Must be a valid first name</p>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="text" name="lastName" placeholder="Enter your last name" autofocus ng-model="user.lastName">
                    <p ng-show="myform.lastName.$invalid && myform.lastName.$touched">Must be a valid last name</p>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="email" name="email" placeholder="Enter your email" autofocus ng-model="user.email">
                    <p ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="password" name="password" placeholder="Enter your password"  ng-model="user.password">
                    <p ng-show="myform.password.$invalid && myform.password.$touched">Password is required</p>
                </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="myform.$invalid">Register</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true"><a href="#home">Login</a></button>
                </div>
            </div>
        </div>
    </div>
</div>